<a href="https://colab.research.google.com/github/noircir/TensorFlow-Examples/blob/master/TF1_07_House_pricing_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

California Housing Dataset

https://www.dcc.fc.up.pt/~ltorgo/Regression/DataSets.html

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import tensorflow as tf

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
housing = pd.read_csv('/content/drive/My Drive/Colab Notebooks/TF 1.0/cal_housing.csv')

In [5]:
housing.head()

   housingMedianAge  totalRooms  ...  medianIncome  medianHouseValue
0              41.0       880.0  ...        8.3252          452600.0
1              21.0      7099.0  ...        8.3014          358500.0
2              52.0      1467.0  ...        7.2574          352100.0
3              52.0      1274.0  ...        5.6431          341300.0
4              52.0      1627.0  ...        3.8462          342200.0

[5 rows x 7 columns]

In [7]:
housing.describe().transpose()

                    count           mean  ...           75%          max
housingMedianAge  20640.0      28.639486  ...      37.00000      52.0000
totalRooms        20640.0    2635.763081  ...    3148.00000   39320.0000
totalBedrooms     20640.0     537.898014  ...     647.00000    6445.0000
population        20640.0    1425.476744  ...    1725.00000   35682.0000
households        20640.0     499.539680  ...     605.00000    6082.0000
medianIncome      20640.0       3.870671  ...       4.74325      15.0001
medianHouseValue  20640.0  206855.816909  ...  264725.00000  500001.0000

[7 rows x 8 columns]

In [0]:
x_data = housing.drop(['medianHouseValue'],axis=1)
y_val = housing['medianHouseValue']

In [0]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x_data,y_val,test_size=0.3,random_state=101)

### Scale the Feature Data

** Use sklearn preprocessing to create a MinMaxScaler for the feature data. Fit this scaler only to the training data. Then use it to transform X_test and X_train. Then use the scaled X_test and X_train along with pd.Dataframe to re-create two dataframes of scaled data.**

In [10]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
scaler.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [0]:
X_train = pd.DataFrame(data=scaler.transform(X_train),
                       columns = X_train.columns,
                       index=X_train.index)

X_test = pd.DataFrame(data=scaler.transform(X_test),
                      columns = X_test.columns,
                      index=X_test.index)

### Create Feature Columns

** Create the necessary tf.feature_column objects for the estimator. They should all be trated as continuous numeric_columns. **

In [12]:
housing.columns

Index(['housingMedianAge', 'totalRooms', 'totalBedrooms', 'population',
       'households', 'medianIncome', 'medianHouseValue'],
      dtype='object')

In [0]:
age = tf.feature_column.numeric_column('housingMedianAge')
rooms = tf.feature_column.numeric_column('totalRooms')
bedrooms = tf.feature_column.numeric_column('totalBedrooms')
pop = tf.feature_column.numeric_column('population')
households = tf.feature_column.numeric_column('households')
income = tf.feature_column.numeric_column('medianIncome')

In [0]:
feat_cols = [ age,rooms,bedrooms,pop,households,income]

In [0]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,
                                                 y=y_train ,
                                                 batch_size=10,
                                                 num_epochs=1000,
                                                 shuffle=True)

In [16]:
# inputs are 6 features

model = tf.estimator.DNNRegressor(hidden_units=[6,6,6],feature_columns=feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpj3n2susn
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpj3n2susn', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f0a416c0668>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [0]:
model.train(input_fn=input_func,steps=25000)

In [0]:
predict_input_func = tf.estimator.inputs.pandas_input_fn(
      x=X_test,
      batch_size=10,
      num_epochs=1,
      shuffle=False)

In [0]:
pred_gen = model.predict(predict_input_func)

In [20]:
predictions = list(pred_gen)

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmpj3n2susn/model.ckpt-25000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [0]:
predictions

In [0]:
final_preds = []
for pred in predictions:
    final_preds.append(pred['predictions'])

In [23]:
from sklearn.metrics import mean_squared_error

mean_squared_error(y_test,final_preds)**0.5

95931.99136765003

In [0]:
# RMSE at 100K is not great when a median house price is 200K